# Entorno virtual y temporales de Python
__pycache__/
*.py[cod]
*$py.class
.env
venv/
env/
.venv/

# Bases de datos y archivos locales generados
*.db
*.sqlite
*.sqlite3
music_fingerprints.db

# Binarios / dependencias locales pesadas si aplica
# Compilaciones y ejecutables empaquetados
build/
dist/
*.exe

# Archivos de configuración de IDEs
.idea/
.vscode/
.DS_Store
